body{
    padding: 0;
    margin: 0 ;
    
}
#nav{
    height: 100px;
    background-color: rgb(224, 227, 227);
    border-bottom: 45px;

}
#nav a{
    padding: 0 100px;
    font-size: large;
    color: rgb(3, 1, 8);
    font-weight: 600;
}
#photo{
      height: 80vh;
      box-shadow: 3px 3px 16px rgb(3, 1, 8);
      overflow: hidden;
       
}
#photo>img{
    width: 100%;
    height: 100%;
    
}
#quote{
    box-sizing: content-box;
    text-align: center;
    height: 40vh;
}
#img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:40px; 
    justify-content: space-between;
    padding-left: 20px;
}
h1{ 
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid rgb(198, 134, 24);
    padding-bottom: 2px;

}
h3{
    color:rgb(16, 1, 56)
}
#categories{
    background-color: rgb(136, 136, 136);
    height: 500px;
}
.cate{
    display: flex;
    justify-content: space-around;

}
.cate div{
    padding: 20px;
   
}
#aboutus{
    text-align: center;
    padding: 20px;;
}
#aboutus p{
    margin: 70px;
}
#footer{
    background-color: black;
    color:aliceblue;
    height: 30vh;
}
.foter{
    text-align: center;
}
.foter p{
    padding: 10px;
}
